/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/components/my-card-styles.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
/* Very simple styles applied to the card */
.my-card-styles_container__MWni0 {
  border: 1px solid black;
}

.my-card-styles_title__M_xYT {
  color: red;
}

.my-card-styles_text__xAfY_ {
  color: blue;
}

.my-card-styles_counter__NtZgF {
  color: green;
}

